<div class='panel panel-primary'>
    <div class='panel-heading'>
        Article Management
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="addArticle()">Add new article</button></div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
            <div *ngIf='articles && articles.length==0' class="alert alert-info" role="alert">No record found!</div>
            <div *ngIf='articles && articles.length'>
                <div>
                    <div *ngFor="let article of articles">
                        <h2>{{article.Headline}}</h2>
                        <div>{{article.Text}}</div>
                        <div>
                            <button title="Edit" class="btn btn-primary" (click)="editArticle(article.Id)">Edit</button>
                            <button title="Delete" class="btn btn-danger" (click)="deleteArticle(article.Id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(articleFrm)" [formGroup]="articleFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>
            <div class="form-group">
                <div>
                    <span>Headline*</span>
                    <input type="text" class="form-control" placeholder="Headline" formControlName="Headline">
                </div>
                <div>
                    <span>Text</span>
                    <textarea rows="30" class="form-control" placeholder="Text" formControlName="Text"></textarea>
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                <button type="submit" [disabled]="articleFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>